$fonts-headline: "roboto bold", Arial, Verdana, sans-serif;
$fonts-body: "roboto light", arial, sans-serif;
$background-color: #F3E4E2;
$primary: #F3B6AF;
$accent1: #AC7DCA;
$accent2: #BA4F5A;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #040862;
$text-light: #F3E4E2;
