@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
//@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}
#mobileimg {
background-image: url(https://github.com/yhipolito/zen-garden-group1/blob/21d12d791f685baf6cdc72645c41f23200579e04/mobile-space-launch.jpg);
background-repeat: no-repeat;
width: 200px;
}
#desktopimg {
background-image: url(zen-garden-group1/desktop-space-launch.jpg);
background-repeat: no-repeat;
width: 500px;
}
